.course-section-text{
    font-size: 26px;
    margin: 50px 45px;
    font-weight: 300;
}

.course-section{
    width: 100%;
    margin-top: 50px;
}

.course-section-1{
    float: left;
    width: 45%;
    margin: 10px 40px;
    font-size: 20px;
}

.course-section-2{
    float: right;
    width: 48%;
    /* margin-top: 20px; */
    font-size: 20px;
}

.course-checkbox{
    margin: auto;
    height: 20px;
    width: 20px;
}

.clearfix{
    clear: both;
}